extends layout

block content

  .TableOfContent
    ul
      each category in categories
        li
          a(href=category.url)= category.name

  .Body
    h1.BodyTitle= title
    p.BodyDateTime= dateTime
    p.BodyText= mainText