extends top-layout

block content
  .category-navbar
    div
      h3(style='padding-left:10px; display: inline-block;' + session.nickname?'':'visibility:hidden;') 항목
        button#category-settings(type = 'button')
            img#category-settings-icon(src="images/gear.png", alt="gear.png")
    ul
      each category in categories
        li.category-navbar-list
          a(href='/category/' + category.url)= category.name
        
      li#category-add(style='visibility: hidden;')
        input#category-add-text(type="text", name="category-name", placeholder='category name')
        button#category-add-submit(type='button') 완료
    
    if(session.nickname !== undefined)
      #write
        a(href='/post/write') 글쓰기
    
  script(src = '/scripts/category-settings.js')
  block post