extends top-layout

block content

  .category-navbar
    h3(style='padding-left:10px;') 항목
    ul
      each category in categories
        li.category-navbar-list
          a(href='/category/' + category.url)= category.name
    
    if(session.nickname !== undefined)
      #write
        a(href='/post/write') 글쓰기

  block post