doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .Top
      .Top-right
        if(session.loggedin)
          a(href='/logout') 로그아웃
        else
          a(href='/login') 로그인

      .Logo
        h1 This is logo

    block content
