:root {
  --primary-color: #01579b;
  --primary-light: #4f83cc;
  --primary-dark: #002f6c;
}

body {
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
  background: lightgray;
  margin: 0;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1rem;
}

a {
  color: #000000;
  text-decoration: solid;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

input[type="submit"] {
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: 4px;
}

.Top {
  display: flex;
  flex-direction: row;
  background: var(--primary-color);
  height: 4rem;
}

#Logo {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

#Logo img {
  align-content: center;
  height: 100%;
}

#Logo h1 {
  margin-left: 20px;
  margin-bottom: 0;
  color: white;
}

.Login {
  padding-top: 18px;
  padding-right: 20px;
  margin-left: auto;
  align-content: center;
}

.Login a {
  font-size: 1.5rem;
  color: white;
}

.Content {
  float: right;
  max-width: 1600px;
  width: 100%;
  padding: 0;
}

.Body {
  float: left;
  max-width: 1200px;
  min-width: 250px;
  width: 70%;
  background: white;
  box-sizing: border-box;
  padding:0px 20px;
  margin-top: 25px;
}

.category-navbar {
  float: left;
  margin-left: 25px;
  margin-top: 25px;
  line-height: 2em;
  width: 25%;
  min-height: 200px;
  padding: 10px;
  border: 1px lightgray solid;
  background: white;
  font-size: 16px;
  box-sizing: border-box;
}

#write-button {
  position: fixed;
  background-color: var(--primary-color);
  padding: 2px;
  right: 20px;
  bottom: 20px;
}

#write-button>a {
  color: white;
}

.category-list {
  color: gray;
  border-bottom: 1px solid lightgray;
}

.category-list-text {
  font-size: 1.3em;
  margin: 0;
}

.input-text {
  width: 90%;
}

#category-settings {
  display: inline-block;
  border: none;
  background: none;
}

#category-settings:hover {
  cursor: pointer;
}

#category-settings:focus {
  border: none;
}

#category-settings-icon {
  width: 16px;
  height: 16px;
}

@media screen and (max-width: 1000px) {

  html * {
    font-size: 2rem;
  }
  
  .Body {
    width: 100%;
    background: white;
    box-sizing: border-box;
    margin-top: 25px;
  }
  
  .category-navbar {
    line-height: 2em;
    width: 100%;
    min-height: 200px;
    border: 1px lightgray solid;
    background: white;
    font-size: 16px;
    margin: 25px 0px;
    box-sizing: border-box;
  }

  h1 {
    font-size: 4rem;
  }
  
  h2 {
    font-size: 3rem;
  }
  
  h3 {
    font-size: 2rem;
  }
  
  p {
    font-size: 2rem;
  }

  input[type="submit"] {
    background-color: var(--primary-color);
    border: none;
    color: white;
    font-size: 2rem;
  }

  small {
    font-size: 1.3rem;
  }

  .Top {
    background: var(--primary-color);
    height: 8rem;
  }

  #Logo h1{
    visibility: hidden;
    width: 0;
    height: 0;
  }

  .Login > a {
    font-size: 3rem;
    color: white;
  }

  .write_reply {
    font-size: 2rem;
  }
}