$reply-background: #b2c7d9;

$primary-color: #01579b;
$primary-light: #4f83cc;
$primary-dark: #002f6c;

$secondary-color: #c2185b;
$secondary-light: #fa5788;
$secondary-dark: #8c0032;

.category {
    display: inline-block;
    margin: 0;
}

.title {
    display: inline-block;
}

.BodyDateTime {
    display: inline;
}

.tags {
    display: flex;
    flex-direction: row;
    float: right;

    .tag {
        margin-left: 8px;
        font-size: 0.8em;
        background-color: $primary-light;
        color: white;
        border: solid $primary-light 1px;
        border-radius: 100px;
        padding: 5px 10px;

        &:hover {
            text-decoration: none;
            background-color: white;
            color: $primary-light;
        }
    }
}

#editor-container {
    font-size: 1rem;
}

.markdown-body {
    font-size: 18px;
    line-height: 2rem;

    code {
        font-size: 16px;
    }

    a {
        color: $primary-light;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border: solid lightgray 1px;
    }

    td,
    tr,
    th {
        padding: 10px;
        border: solid lightgray 1px;
    }
}

.task-list-item {
    list-style: none;

    input[type='checkbox'] {
        margin-left: -1.3rem;
    }
}

.deletenedit {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;

    form {
        padding: 0 10px;
    }
}

.Reply {
    background-color: $reply-background;
    border-radius: 4px;
    padding: 0.3rem;
    margin-bottom: 0.3rem;
}

.ReplyBody {
    border-radius: 4px;
    max-width: 70%;
    padding: 0.3rem;
    display: inline-block;
    margin: 0 {
        right: 4px;
    }
}

.reply-delete-btn {
    border-radius: 4px;
    background-color: red;
    padding: 0 4px;
    margin: 0 4px;
    border: none {
        radius: 4px;
    }
}

.write-reply {
    display: grid;
    grid-template-columns: auto auto 80px;
    grid-template-areas:
        'name pwd submit'
        'body body submit';

    .write-reply-nickname {
        grid-area: name;
    }

    .write-reply-password {
        grid-area: pwd;
    }

    .write-reply-text {
        grid-area: body;
    }

    .write-reply-submit {
        grid-area: submit;
        margin-left: 0.5rem;
    }
}

@media screen and (max-width: 1000px) {
    .write-reply {
        width: 100%;
        padding: 0;
        font-size: 1rem;
        grid-template-columns: 42% 42% 16%;
    }
}
