// Headers
// h1 to h4
@for $i from 1 to 5 {
  h#{$i} {
    font-size: #{(2.2 - 0.4 * $i)}rem;
    font-weight: bold;
    margin: 10px 0;
  }
}

small,
time,
h4 {
  font-size: 0.8rem;
}

// Horizontal Line
.hl {
  height: 1px;
  width: 100%;
  background-color: lightgray;
  margin: 10px 0;
}

// Visibilities
.hidden {
  visibility: hidden;
}

// List with lines
nav {
  .list {
    padding: 10px 0;
    border-bottom: solid 1px lightgray;

    &:last-child {
      border-bottom: none;
    }
  }
}

// Text Colors
.text-white {
  color: white;
}

.text-gray {
  color: gray;
}

.text-black {
  color: black;
}

// Background Colors
.bg-white {
  background-color: white;
}

// Word Wrap
.pre-wrap {
  white-space: pre-wrap;
}

// Bold
.bold {
  font-weight: bold;
}
