@use 'utilities';
@use 'post';
@use 'login';

$primary-color: #01579b;
$primary-light: #4f83cc;
$primary-dark: #002f6c;

@mixin centered-hor-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

body,
input,
select,
textarea {
  font-family: "맑은고딕", "Helvetica", "sans-serif";
}

header,
footer,
body {
  margin: 0;
}

body {
  background: lightgray;
}

a {
  color: black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.inline-code {
  background-color: #eeeeee;
  border-radius: 3px;
  padding: 4px;
}

li {
  list-style-type: none;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

input[type="submit"] {
  background-color: $primary-color;
  border: none;
  color: white;
  padding: 4px;
}

pre {
  border-radius: 4px;
}

textarea {
  resize: none;
}

img {
  max-width: 100%;
}

#input-markdown {
  box-sizing: border-box;
  width: 100%;
  height: 60vh;
}

#Element-Wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#Top {
  @include centered-hor-flexbox;
  justify-content: space-between;
  background: $primary-color;
  height: 4rem;
  padding: 0 20px;
}

#Logo {
  @include centered-hor-flexbox;

  img {
    height: 4rem;
    width: auto;
    margin-right: 20px;
  }
}

#Middle {
  @include centered-hor-flexbox;
  align-items: unset;
  flex-wrap: wrap;
  margin: 25px;
}

main {
  max-width: 1200px;
  min-width: 250px;
  width: 70%;
  box-sizing: border-box;
  padding: 20px;
  margin-right: 20px;

  .list small {
    float: right;
  }
}

article section {
  h1,
  h2,
  h3,
  h4 {
    margin: 1.8rem 0;
    line-height: 1.33;
  }

  h2,
  h3 {
    &::after {
      content: "";
      display: block;
      position: relative;
      top: 0.5rem;
      border-bottom: 1px solid lightgray;
    }
  }
}

#category-navbar {
  width: 25%;
  height: fit-content;
  min-height: 200px;
  padding: 10px;
  background: white;

  a {
    font-size: 1.4rem;
    margin: 0;
  }
}

#Bottom {
  @include centered-hor-flexbox;
  background: $primary-dark;
  width: 100%;
  height: 4rem;
  color: white;
}

#write-button {
  position: fixed;
  background-color: $primary-color;
  padding: 2px;
  right: 20px;
  bottom: 80px;
}

#input-text {
  box-sizing: border-box;
  width: 100%;
}

#category-settings {
  display: inline-block;
  border: none;
  background: none;

  &:hover {
    cursor: pointer;
  }

  #category-settings-icon {
    width: 16px;
    height: 16px;
  }
}

@media screen and (max-width: 1000px) {
  #Middle {
    margin: 25px 0;
  }

  main {
    width: 100%;
    box-sizing: border-box;
    margin: 0 {
      bottom: 25px;
      right: 0;
    }
  }

  #category-navbar {
    float: none;
    width: 100%;
    box-sizing: border-box;
  }

  #Logo h1 {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  #write-button {
    bottom: 80px;
  }
}
